
@{
    ViewBag.Title = "Check_out_success";
}

<!DOCTYPE html>
<html>
<head>
    <title>Clothes Store</title>
    <link rel="shortcut icon" type="image/png" href="~/Content/images/images.png" />
    <meta name="viewport" content="width=device-width" />
    <h2 style="color:darkblue; text-align:center" >Bạn đã đặt hàng thành công</h2>
    <br />
</head>
<body style="text-align:center">
    <h3>Cảm ơn bạn đã mua hàng. Bạn sẽ nhận hàng trong 3-4 ngày tới</h3>

    <h3>Có điều gì thắc mắc xin vui lòng gửi phản hồi về cho chúng tôi. Xin cảm ơn !!!</h3>
    <br />
    <form method="get" action="/Home/Index">
        <button type="submit">Tiếp tục mua hàng</button>
    </form>
   
    <br />
    <br />
    <br />
</body>
</html>
